/* estilos.css */


html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
   
}


.body-login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que el body ocupe el 100% de la altura del viewport */
}


.header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Asegura que ocupe todo el ancho */
    box-sizing: border-box; /* Incluye padding en el ancho */
}


.header h1 { margin: 0; font-size: 24px; }
.user-info { font-size: 14px; }
.nav-menu {
    background-color: #555;
    padding: 10px 20px;
    width: 100%; /* Asegura que ocupe todo el ancho */
    box-sizing: border-box; /* Incluye padding en el ancho */
}




.nav-menu ul { list-style: none; margin: 0; padding: 0; display: flex; }
.nav-menu li { margin-right: 20px; }
.nav-menu a { color: white; text-decoration: none; font-weight: bold; }
.container {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    /* Puedes darle un ancho máximo al contenedor principal si lo deseas */
    /* max-width: 1200px; */
    /* margin: 20px auto; /* Para centrarlo horizontalmente en la página */
}


.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}












.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}


.form-group {
    margin-bottom: 20px;
    text-align: left; /* Restaura la alineación del texto dentro de los grupos de formulario */
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

.form-group input[type="text"], .form-group input[type="password"] {
    width: calc(100% - 16px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.btn-login {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
}

.btn-login:hover {
    background-color: #0056b3;
}

.message-area {
    margin-top: 20px;
    color: red;
    font-size: 14px;
}