@charset "UTF-8";

main {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.form-control:focus, .form-select:focus {
    border-color: #6c757d !important;
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.25) !important;
    outline: none;
}
select.form-select option:hover {
    background-color: #6c757d;
    color: white;
}